body{
    background-color: darkblue;
}
#container {
  height: 350px;
  width: 250px;
  background-color: white;
  border: 2px solid black;
  margin: auto;
  /* width: 60%; */
  border: 3px solid #73AD21;
  margin-top: 150px;
  border-radius: 5%;

}
#heading{
    font-size: 15px;
    text-align: center;
    font-family: sans-serif;
}
